WEBHOOK_VERIFY_TOKEN=seu_token_de_verificacao_aqui
WHATSAPP_TOKEN=seu_token_do_whatsapp_aqui
WHATSAPP_PHONE_NUMBER_ID=seu_phone_number_id_aqui
GOOGLE_AI_API_KEY=sua_chave_gemini_aqui

SUPABASE_URL=sua_url_supabase_aqui
SUPABASE_SERVICE_ROLE_KEY=sua_chave_service_role_aqui

NEXT_PUBLIC_SUPABASE_URL=sua_url_supabase_aqui
NEXT_PUBLIC_SUPABASE_ANON_KEY=sua_chave_anon_aqui
